[submodule "Defi/components/lib/forge-std"]
	path = Defi/components/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Defi/components/lib/openzeppelin-contracts"]
	path = Defi/components/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
